.home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }
  
  .slideshow {
    width: calc(100% - 40px); /* Matches the width of the nav bar with some spacing */
    max-width: 1400px; /* You can adjust this based on your nav bar's width */
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slideshow-image {
    width: 100%;
    max-height: 10cm; /* Less than 10cm */
    object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
    border-radius: 30px; /* Curvy borders */
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: opacity 0.5s ease-in-out;
  }  

  .info-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: calc(100% - 40px);
    max-width: 1400px;
    margin: 0 auto;
  }
  
  .info-box {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .info-text {
    font-size: 20px;
    line-height: 1.6;
    color: black;
    margin-bottom: 10px;
  }
  
  .info-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: black;
  }